@{
    ViewBag.Title = Model.Titulo;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2">
            <section class="app-indice">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="@Url.Action("Index")">Investigación</a>
                    <a class="list-group-item list-group-item-action" href="@Url.Action("planesstudio")">Plan de Estudios</a>
                    <a class="list-group-item list-group-item-action" href="@Url.Action("mallacurricular")">Malla Curricular</a>
                    <a class="list-group-item list-group-item-action" href="@Url.Action("concursoproyecto")">Concurso de Proyectos</a>
                    <a class="list-group-item list-group-item-action active" href="@Url.Action("trabajo")">Trabajos Académicos</a>
                </div>
            </section>
        </div>
        <div class="col-12 col-md-10">
            <section>
                <div class="row">
                    <div class="col-12">
                        <section>

                        </section>
                    </div>
                    <div class="col-12">
                        <section>
                            <div class="table-responsive">
                                <table class="table table-hover app-tabla-trabajos">
                                    <thead>
                                        <tr>
                                            <th>Área de estudio</th>
                                            <th>Curso</th>
                                            <th>Título</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="app-tabla-trabajos-area"><span>Redes</span></td>
                                            <td>Redes I</td>
                                            <td>Implementación de una red normal</td>
                                        </tr>
                                        <tr>
                                            <td class="app-tabla-trabajos-area"><span>Desarrollo de sistemas</span></td>
                                            <td>Programacion Web I</td>
                                            <td>Página Web Thirsa</td>
                                        </tr>
                                        <tr>
                                            <td class="app-tabla-trabajos-area"><span>Desarrollo de sistemas</span></td>
                                            <td>Programacion Web I</td>
                                            <td>Página Web Thirsa</td>
                                        </tr>
                                        <tr>
                                            <td class="app-tabla-trabajos-area"><span>Desarrollo de sistemas</span></td>
                                            <td>Programacion Web I</td>
                                            <td>Página Web Thirsa</td>
                                        </tr>
                                        <tr>
                                            <td class="app-tabla-trabajos-area"><span>Desarrollo de sistemas</span></td>
                                            <td>Programacion Web I</td>
                                            <td>Página Web Thirsa</td>
                                        </tr>
                                        <tr>
                                            <td class="app-tabla-trabajos-area"><span>Desarrollo de sistemas</span></td>
                                            <td>Programacion Web I</td>
                                            <td>Página Web Thirsa</td>
                                        </tr>
                                        <tr>
                                            <td class="app-tabla-trabajos-area"><span>Desarrollo de sistemas</span></td>
                                            <td>Programacion Web I</td>
                                            <td>Página Web Thirsa</td>
                                        </tr>
                                        <tr>
                                            <td class="app-tabla-trabajos-area"><span>Desarrollo de sistemas</span></td>
                                            <td>Programacion Web I</td>
                                            <td>Página Web Thirsa</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

