@{ ViewBag.Title = "Noticias"; }

<section ng-controller="NoticiaController" ng-init="IniciarDetalle(@ViewBag.IdPublicacion)">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Publicaciones</h3>
                </div>

                <div class="list-group">
                    <a href="@Url.Action("Index", "Noticia")" class="list-group-item active">Noticias</a>
                    <a href="@Url.Action("Index", "Evento")" class="list-group-item">Eventos</a>
                    <a href="@Url.Action("Index", "Comunicado")" class="list-group-item">Comunicados</a>
                    <a href="@Url.Action("Index", "Actualidad")" class="list-group-item">Actualidades tecnológicas</a>
                    <a href="@Url.Action("Index", "Publicacion")" class="list-group-item">Publicaciones</a>
                    <a href="@Url.Action("Index", "GaleriaFoto")" class="list-group-item">Galería de fotos</a>
                    <a href="@Url.Action("Index", "GaleriaVideo")" class="list-group-item">Galería de vídeos</a>
                </div>

            </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <img src="{{ Noticia.Recurso }}" alt="Cargando..." class="img-responsive"/>
            <div class="well well-sm">
                <h1><span ng-bind="Noticia.Titulo"></span></h1>
                <p ng-bind="Noticia.Subtitulo"></p>
                <hr>
                <p>Publicado por: <span ng-bind="Noticia.Usuario"></span>  Fecha: <span ng-bind="Noticia.Emision | Fecha | date : 'dd/MM/yyyy \'a las\' h:mma'"></span></p>
                <hr>
                <p ng-bind-html="Noticia.Resena | Texto"></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Próximos eventos</h3>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Law Students Awards Ceremony</h4>
                        <p class="list-group-item-text">January 1, 2018 8:00 am / January 9, 2018 9:00 pm</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Homecoming and Reunion Weekend</h4>
                        <p class="list-group-item-text">November 11, 2018 8:00 am / November 13, 2018 11:00 am</p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

@section scripts{
    <script src="~/Angular/Factories/NoticiaFactory.js"></script>
    <script src="~/Angular/Controllers/NoticiaController.js"></script>
}

