@{ ViewBag.Title = "Noticias"; }

<section ng-controller="NoticiaController" ng-init="Iniciar()">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3">
            <h4>Publicaciones</h4>
            <hr />
            <div class="list-group">
                <a href="@Url.Action("Index", "Noticia")" class="list-group-item list-group-item-action active">Noticias</a>
                <a href="@Url.Action("Index", "Evento")" class="list-group-item list-group-item-action">Eventos</a>
                <a href="@Url.Action("Index", "Comunicado")" class="list-group-item list-group-item-action">Comunicados</a>
                <a href="@Url.Action("Index", "Actualidad")" class="list-group-item list-group-item-action">Actualidades tecnológicas</a>
                <a href="@Url.Action("Index", "Publicacion")" class="list-group-item list-group-item-action">Publicaciones</a>
                <a href="@Url.Action("Index", "GaleriaFoto")" class="list-group-item list-group-item-action">Galería de fotos</a>
                <a href="@Url.Action("Index", "GaleriaVideo")" class="list-group-item list-group-item-action">Galería de vídeos</a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-9 col-lg-9">
            <h4>@ViewBag.Title</h4>
            <hr />
            <div class="card-columns">
                <div class="card" ng-repeat="noticia in NoticiasPrincipal">
                    <a href="@Url.Action("Detalle","Noticia")/{{ noticia.Url }}"><img class="card-img-top" ng-src="{{ noticia.Recurso }}" alt="imagen"></a>
                    <div class="card-body">
                        <p ng-bind="noticia.Emision | Fecha | date : 'dd/MM/yyyy \'a las\' h:mma'"></p>
                        <h4 class="card-title"><span ng-bind="noticia.Titulo"></span></h4>
                        <p class="card-text"><span ng-bind="noticia.Resumen"></span></p>
                    </div>
                </div>
            </div>
            <h4>Más noticias</h4>
            <hr />
            <div class="list-group">
                <a href="@Url.Action("Detalle","Noticia")/{{ noticia.Url }}" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="noticia in NoticiasSecundario">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><span ng-bind="noticia.Titulo"></span></h5>
                        <small class="text-muted"><span ng-bind="noticia.Emision | Fecha | date : 'dd/MM/yyyy \'a las\' h:mma'"></span></small>
                    </div>
                    <p><span ng-bind="noticia.Resumen"></span></p>
                </a>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Angular/Factories/NoticiaFactory.js"></script>
    <script src="~/Angular/Controllers/NoticiaController.js"></script>
}
