
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2">
            <section class="app-indice">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="@Url.Action("Index")">Nosotros</a>
                    <a class="list-group-item list-group-item-action active" href="@Url.Action("director")">Palabras del Director</a>
                    <a class="list-group-item list-group-item-action" href="@Url.Action("misionvision")">Misión y Visión</a>
                    <a class="list-group-item list-group-item-action" href="@Url.Action("objetivo")">Objetivos</a>
                    <a class="list-group-item list-group-item-action" href="@Url.Action("perfilprofesional")">Perfil Profesional</a>
                    <a class="list-group-item list-group-item-action" href="@Url.Action("objetivoeducacional")">Objetivos Educacionales</a>
                    <a class="list-group-item list-group-item-action" href="@Url.Action("resultadoaprendizaje")">Resultados del Aprendizaje</a>
                </div>
            </section>
        </div>
        <div class="col-12 col-md-7">
            <section>
                <div class="app-sumilla">
                    <p>Bienvenidos a la Escuela Profesional de Ingeniería de Sistemas de la Universidad Privada de Tacna.</p>
                </div>
                <section>
                    <p class="app-texto">
                        La elección de estudiar una carrera de ingeniería es una muy importante y trascendental decisión en tu vida, los ingenieros lideramos el avance tecnológico en el mundo. La Ingeniería de Sistemas tiene que ver con la innovación, desarrollo de software, automatizacion de procesos, desarrollo de proyectos para la mejora de la calidad de vida del ser humano. En la UPT estamos dedicados a desarrollar un modelo educativo de calidad que garantice la formación de graduados con un conjunto diversificado de capacidades, roles y experiencias para el desarrollo de software, la administración de base de datos, seguridad de la Información, administrador de redes e infraestructura de tecnologías de información y gestion de proyectos.

                        El desarrollo de los cursos de nuestro plan de estudios se centran en el pensamiento crítico, resolución de problemas, toma de decisiones y las habilidades interpersonales y de comunicación. Nuestro programa prepara a los estudiantes para resolver problemas y aplicar las nuevas tecnologías en un entorno cada vez más globalizado y cambiante. Hacen hincapié en el éxito profesional a través de la formación continua y desarrollo profesional en todos los niveles del plan de estudios.

                        Las clases teóricas se dictan en aulas debidamente implementadas con proyector multimedia, pc, ecran, internet e intranet y la parte practica se desarrolla en nuestros laboratorios exclusivos para el programa y una computadora por estudiante. También se cuenta con convenios con Microsoft, ORACLE, IBM que nos permite entregar software original a los Estudiantes.

                        Los invito a formar parte de nuestro programa, y tomar ventaja de profesores altamente capacitados que están ejerciendo la profesión y aprovechar bien los recursos instalados que ofrece la Escuela Profesional de Ingenieria de Sistemas de la UPT.
                    </p>
                </section>
                <section>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="text-center">
                                <img src="http://www.upn.edu.pe/sites/default/files/upn_andres_firma_2_1.jpg" alt="director" />
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="text-center">
                                <p>Ing. Tito Fernando Ale Nieto<br /><b>Director de Ingeniería de Sistemas</b></p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
        <div class="col-12 col-md-3">

        </div>
    </div>
</div>
