
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2">
            <section class="app-indice">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action active" href="@Url.Action("Index")">Nosotros</a>
                    <a class="list-group-item list-group-item-action" href="@Url.Action("director")">Palabras del Director</a>
                    <a class="list-group-item list-group-item-action" href="@Url.Action("misionvision")">Misión y Visión</a>
                    <a class="list-group-item list-group-item-action" href="@Url.Action("objetivo")">Objetivos</a>
                    <a class="list-group-item list-group-item-action" href="@Url.Action("perfilprofesional")">Perfil Profesional</a>
                    <a class="list-group-item list-group-item-action" href="@Url.Action("objetivoeducacional")">Objetivos Educacionales</a>
                    <a class="list-group-item list-group-item-action" href="@Url.Action("resultadoaprendizaje")">Resultados del Aprendizaje</a>
                </div>
            </section>
        </div>
        <div class="col-12 col-md-7">
            <section>
                <div class="app-sumilla">
                    <p>La mejora continua de los procesos académicos requiere de recursos humanos con actitud que sepan enfrentar los cambios, con deseos de superación, ofrezcan un servicio de calidad en la formación académica y asuman nuevos retos.</p>
                </div>

                <section>
                    <h4 class="app-h4">Misión</h4>
                    <p class="app-texto-resaltado">
                        “Ser reconocidos como una universidad de excelente calidad académica y accesible, que forma profesionales dueños de su destino que se desempeñan exitosamente en un entorno global”.
                    </p>
                    <h4 class="app-h4">Visión</h4>
                    <p class="app-texto-resaltado">
                        “Ser reconocidos como una universidad de excelente calidad académica y accesible, que forma profesionales dueños de su destino que se desempeñan exitosamente en un entorno global”.
                    </p>
                </section>
                <section>
                    <img src="http://www.upn.edu.pe/sites/default/files/upn_mision_vision_interna.jpg" alt="mision_vision" class="app-imagen" />
                </section>
            </section>
        </div>
        <div class="col-12 col-md-3">

        </div>
    </div>
</div>
