
@{
    ViewBag.Title = "Publicaciones";
}

<section>
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Portada")">Inicio</a>
        </li>
        <li>
            <a href="@Url.Action("Modulos", "Portada")">Módulos</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Sitio")">Sitio web</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section ng-controller="PublicacionController" ng-init="Iniciar()">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="panel panel-default epis--panel-indice">
                <div class="panel-heading">
                    Sitio web
                </div>
                <div class="list-group">
                    <a href="@Url.Action("Index", "Sitio")" class="list-group-item">
                        <h4 class="list-group-item-heading">Inicio</h4>
                        <p class="list-group-item-text">Gestión del sitio web.</p>
                    </a>
                    <a href="@Url.Action("Publicacion", "Sitio")" class="list-group-item active">
                        <h4 class="list-group-item-heading">Publicaciones</h4>
                        <p class="list-group-item-text">Gestión de las publicaciones.</p>
                    </a>
                    <a href="@Url.Action("Resena", "Sitio")" class="list-group-item">
                        <h4 class="list-group-item-heading">Reseñas</h4>
                        <p class="list-group-item-text">Gestión de las reseñas.</p>
                    </a>
                    <a href="@Url.Action("Configuracion", "Sitio")" class="list-group-item">
                        <h4 class="list-group-item-heading">Configuración</h4>
                        <p class="list-group-item-text">Configuración de datos del sitio web.</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="panel panel-default epis--panel-tabla">
                <div class="panel-heading">
                    Publicaciones <span class="badge" ng-bind="Publicaciones.length"></span>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th class="col-xs-2">Código</th>
                                <th>Título</th>
                                <th>Tipo de publicación</th>
                                <th class="col-xs-2 text-center"><button class="btn btn-xs btn-success" ng-click="CrearPublicacion()"><span class="glyphicon glyphicon-plus-sign"></span></button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="publicacion in Publicaciones">
                                <td><span ng-bind="publicacion.Id"></span></td>
                                <td><span ng-bind="publicacion.TipoPublicacion.Descripcion"></span></td>
                                <td><span ng-bind="publicacion.Titulo"></span></td>
                                <td class="col-xs-2 text-center">
                                    <button class="btn btn-xs btn-warning" ng-click="ModificarPublicacion(publicacion)"><span class="glyphicon glyphicon-edit"></span></button>
                                    <button class="btn btn-xs btn-danger" ng-click="EliminarPublicacion(publicacion)"><span class="glyphicon glyphicon-remove-sign"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalPublicacion">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Ingrese la información de los grados académicos
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-24 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label>Código:</label>
                                        <input type="text" class="form-control" ng-model="Publicacion.Id" ng-readonly="true">
                                    </div>
                                </div>
                                <div class="col-xs-24 col-sm-10 col-md-10 col-lg-10">
                                    <div class="form-group">
                                        <label>Tipo de publicación:</label>
                                        <select class="form-control" ng-model="Publicacion.IdTipoPublicacion" ng-options="TipoPublicacion.Id as TipoPublicacion.Descripcion for TipoPublicacion in TiposPublicacion">
                                            <option value="">[Seleccione]</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-24 col-sm-10 col-md-10 col-lg-10">
                                    <div class="form-group">
                                        <label>Fecha:</label>
                                        <input type="date" class="form-control" ng-model="Publicacion.Emision">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                                    <div class="form-group">
                                        <label>Título:</label>
                                        <input type="text" class="form-control" ng-model="Publicacion.Titulo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                                    <div class="form-group">
                                        <label>Subtítulo:</label>
                                        <input type="text" class="form-control" ng-model="Publicacion.Subtitulo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                                    <div class="form-group">
                                        <label>Resumen:</label>
                                        <textarea class="form-control" ng-model="Publicacion.Resumen" cols="2" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                                    <div class="form-group">
                                        <label>Reseña:</label>
                                        <div summernote ng-model="Publicacion.Resena"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                                    <div class="form-group">
                                        <label>Recurso:</label>
                                        <input type="text" class="form-control" ng-model="Publicacion.Recurso">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                                    <div class="form-group">
                                        <label>Url:</label>
                                        <input type="text" class="form-control" ng-model="Publicacion.Url">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button type="button" class="btn btn-default" ng-click="CerrarPublicacion()">Cerrar</button>
                            <button type="button" class="btn btn-success" ng-click="GuardarPublicacion()"><span ng-bind="TextoBotonGuardar()"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/Angular/Factories/TipoPublicacionFactory.js"></script>
    <script src="~/Angular/Factories/PublicacionFactory.js"></script>
    <script src="~/Angular/Controllers/PublicacionController.js"></script>
}