
@{
    ViewBag.Title = "Reseñas";
}

<section>
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Portada")">Inicio</a>
        </li>
        <li>
            <a href="@Url.Action("Modulos", "Portada")">Módulos</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Sitio")">Sitio web</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section ng-controller="ResenaController" ng-init="Iniciar()">
    <div class="row">
        <div class="col-xs-24 col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default epis--panel-indice">
                <div class="panel-heading">
                    Sitio web
                </div>
                <div class="list-group">
                    <a href="@Url.Action("Index", "Sitio")" class="list-group-item">
                        <h4 class="list-group-item-heading">Inicio</h4>
                        <p class="list-group-item-text">Gestión del sitio web.</p>
                    </a>
                    <a href="@Url.Action("Publicacion", "Sitio")" class="list-group-item">
                        <h4 class="list-group-item-heading">Publicaciones</h4>
                        <p class="list-group-item-text">Gestión de las publicaciones.</p>
                    </a>
                    <a href="@Url.Action("Resena", "Sitio")" class="list-group-item active">
                        <h4 class="list-group-item-heading">Reseñas</h4>
                        <p class="list-group-item-text">Gestión de las reseñas.</p>
                    </a>
                    <a href="@Url.Action("Configuracion", "Sitio")" class="list-group-item">
                        <h4 class="list-group-item-heading">Configuración</h4>
                        <p class="list-group-item-text">Configuración de datos del sitio web.</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-24 col-sm-18 col-md-18 col-lg-18">
            <div class="panel panel-default epis--panel-tabla">
                <div class="panel-heading">
                    Reseñas <span class="badge" ng-bind="Resenas.length"></span>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th class="col-xs-2">Código</th>
                                <th>Tipo de reseña</th>
                                <th>Título</th>
                                <th class="col-xs-2 text-center"><button class="btn btn-xs btn-success" ng-click="CrearResena()"><span class="glyphicon glyphicon-plus-sign"></span></button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="resena in Resenas">
                                <td><span ng-bind="resena.Id"></span></td>
                                <td><span ng-bind="resena.TipoResena.Descripcion"></span></td>
                                <td><span ng-bind="resena.Titulo"></span></td>
                                <td class="col-xs-2 text-center">
                                    <button class="btn btn-xs btn-warning" ng-click="ModificarResena(resena)"><span class="glyphicon glyphicon-edit"></span></button>
                                    <button class="btn btn-xs btn-danger" ng-click="EliminarResena(resena)"><span class="glyphicon glyphicon-remove-sign"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalResena">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Ingrese la información de las reseñas
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-24 col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label>Código:</label>
                                        <input type="text" class="form-control" ng-model="Resena.Id" ng-readonly="true">
                                    </div>
                                </div>
                                <div class="col-xs-24 col-sm-10 col-md-10 col-lg-10">
                                    <div class="form-group">
                                        <label>Tipo de reseña:</label>
                                        <select class="form-control" ng-model="Resena.IdTipoResena" ng-options="TipoResena.Id as TipoResena.Descripcion for TipoResena in TiposResena">
                                            <option value="">[Seleccione]</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-24 col-sm-10 col-md-10 col-lg-10">
                                    <div class="form-group">
                                        <label>Autor:</label>
                                        <select class="form-control" ng-model="Resena.IdAutorResena" ng-options="AutorResena.Id as AutorResena.Nombre + ' ' +  AutorResena.Apellido for AutorResena in AutoresResena">
                                            <option value="">[Seleccione]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                                    <div class="form-group">
                                        <label>Título:</label>
                                        <input type="text" class="form-control" ng-model="Resena.Titulo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                                    <div class="form-group">
                                        <label>Subtítulo:</label>
                                        <input type="text" class="form-control" ng-model="Resena.Subtitulo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                                    <div class="form-group">
                                        <label>Resumen:</label>
                                        <textarea class="form-control" ng-model="Resena.Resumen" cols="2" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                                    <div class="form-group">
                                        <label>Reseña:</label>
                                        <div summernote ng-model="Resena.Resena"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                                    <div class="form-group">
                                        <label>Recurso:</label>
                                        <input type="text" class="form-control" ng-model="Resena.Recurso">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                                    <div class="form-group">
                                        <label>Url:</label>
                                        <input type="text" class="form-control" ng-model="Resena.Url">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button type="button" class="btn btn-default" ng-click="CerrarResena()">Cerrar</button>
                            <button type="button" class="btn btn-success" ng-click="GuardarResena()"><span ng-bind="TextoBotonGuardar()"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/Angular/Factories/AutorResenaFactory.js"></script>
    <script src="~/Angular/Factories/TipoResenaFactory.js"></script>
    <script src="~/Angular/Factories/ResenaFactory.js"></script>
    <script src="~/Angular/Controllers/ResenaController.js"></script>
}